@import "tailwindcss";

/* Swiper Pagination Overrides */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1 !important;
}

.testimonials-pagination .swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5 !important;
}

.testimonials-pagination .swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1 !important;
}

.vacancies-pagination .swiper-pagination-bullet {
  background: #ea580c !important;
  opacity: 0.3 !important;
}

.vacancies-pagination .swiper-pagination-bullet-active {
  background: #ea580c !important;
  opacity: 1 !important;
}

.swiper-linear .swiper-wrapper {
  transition-timing-function: linear !important;
}

